// From
// http://www.w3schools.com/css/css_tooltip.asp
//
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;

    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
/*    top: 120%;
    left: 50%;*/
    margin-top: 30px;
    margin-left: -46px;
    font-size: 12px;    
    font-family: oswald;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity .5s;
    letter-spacing: 1px;
    
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
